body{
    background-color: skyblue;
}

p{
    background-color: yellow;
    margin-top: 75px;
    margin-right: 250px;
    margin-bottom: 150px;
    margin-left: 300px;
}

#eliminar{
    margin-left: 150px;
    margin-right: 200px;
}

.custom{
    border: black 7px double;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.bordes{
    border: black 7px solid;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}